<div class="inline_station">
  <h2><%= link_to station.name, station_path(station) %></h2>

  <% unless station.previous_station.blank? -%>
    <p>Antes era: <%= link_to station.previous_station.name -%></p>
  <% end -%>
  
  <p class="status status-sindatos">
    Estado:
  </p>

  <p>(<%= "#{station.latitude_decimal}, #{station.longitude_decimal}" -%>)</p>
</div>

