<% @body_id = 'station' %>

<% content_for :outside_map do %>
<div class="station-footer">

  <h1><%= @station.name -%></h1>
  <%= render 'stations/select_form', :stations => @stations -%>
  
  <ul class="station_summary">
    <li class="last_week">
      <div>
        <h3>Última semana</h3>
        <p class="desc">Se han sobrepasado los niveles de contaminación</p>
        <p class="value"><span>--</span> veces</p>        
      </div>
    </li>
    <li class="last_month">
      <div>
        <h3>Último mes</h3>    
        <p class="desc">Se han sobrepasado los niveles de contaminación</p>
        <p class="value"><span>--</span> veces</p>        
      </div>
    </li>
    <li class="last_year">
      <div>
        <h3>Último año</h3>        
        <p class="desc">Se han sobrepasado los niveles de contaminación</p>
        <p class="value"><span>--</span> veces</p>        
      </div>      
    </li>        
  </ul>
  <div class="do_something">
    <h3><a href="/haz-algo">Haz algo!</a></h3>
  </div>
</div>
<% end -%>

<% content_for :js do -%>
  <script type="text/javascript">
    $(function(){
      maloshumos.initialize();      
    });
  </script>
<% end -%>



