body {
  background-color: #02B5CC;
  font-family: helvetica,sans-serif;
  font-size: x-small;
  font-variant: normal;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5em;
  color: #333;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #0084B6;
  text-decoration: none;
}

h2 {
  font-family: Arial,sans-serif;
  font-size: x-small;
  font-variant: normal;
  font-style: normal;
  font-weight: normal;
}

.content {
  overflow: hidden;
}

.wrapper {
  width: 96em;
  overflow: hidden;
  margin: 0 auto;
}

.wrapper .header {
  background-color: #B1E0E8;
}

body.register .content .wrapper {
  width: 46em;
  padding: 5em 0;
}

body.login .content .wrapper {
  padding: 5em 0;
  width: 51.4em;
}

.accesible {
    display: none;
}



#header {
  background:url(../images/header-pattern.png) 0 0;
  position:relative;
}

#header h1 {
  background:url(../images/header-logo.png) no-repeat 0 0;
  width:140px;
  height:121px;
  position:absolute;
  left:5px;
  top:0;
}
#header h1 a {
  width:100%;
  height:100%;
  overflow:hidden;
  text-indent:-999px;
  display:block;
}

#nav {
  overflow:hidden;
  height:1%;
  padding:8px 0;
  margin-left:150px;
  list-style:none;
}

#nav li {
  line-height:21px;
  font-size:1.4em;
  font-weight:bold;
  color:#066470;
  float:left;
  padding:0 10px;
  border-right:1px solid #;
  border-left:1px solid #fff;
}
#nav .last {
  border-right:0;
}
#nav .first {
  border-left:0;
}

#nav a {
  color:#066470;
}



