body {
  background: #02B5CC url(../images/body-pattern.png);
  font-family: helvetica,sans-serif;
  font-size: x-small;
  font-variant: normal;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5em;
  color: #333;
}

li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #0084B6;
  text-decoration: none;
}

h2 {
  font-family: Arial,sans-serif;
  font-size: x-small;
  font-variant: normal;
  font-style: normal;
  font-weight: normal;
}

.content {
  overflow: hidden;
}

.wrapper {
  width: 96em;
  overflow: hidden;
  margin: 0 auto;
}

.wrapper .header {
  background-color: #B1E0E8;
}

body.register .content .wrapper {
  width: 46em;
  padding: 5em 0;
}

body.login .content .wrapper {
  padding: 5em 0;
  width: 51.4em;
}

.accesible {
    display: none;
}



#header {
  background:url(../images/header-pattern.png) 0 0;
  position:relative;
}

#header h1 {
  background:url(../images/header-logo.png) no-repeat 0 0;
  width:140px;
  height:121px;
  position:absolute;
  z-index:1000;
  left:5px;
  top:0;
}
#header h1 a {
  width:100%;
  height:100%;
  overflow:hidden;
  text-indent:-999px;
  display:block;
}

#nav {
  overflow:hidden;
  height:1%;
  padding:8px 0;
  margin-left:150px;
  list-style:none;
}

#nav li {
  line-height:21px;
  font-size:1.4em;
  font-weight:bold;
  color:#066470;
  float:left;
  padding:0 10px;
  border-right:1px solid #;
  border-left:1px solid #fff;
}
#nav .last {
  border-right:0;
}
#nav .first {
  border-left:0;
}

#nav a {
  color:#066470;
}


/** Buscador cabecera */
#header .buscador {
  border-bottom:4px solid #2a2f2d;
  position:absolute;
  right:0;
  top:0;
  z-index:1000;
  background:url(../images/bg-buscador-top.png) repeat-x 0 0;
  padding:11px 10px 8px;
}
#header .buscador label {
  float:left;
  font-size:1.8em;
  font-weight:bold;
  line-height:34px;
  margin-right:15px;
}
#header .buscador .text {
  float:left;
  margin-right:9px;
  background:#F1F4DE;
  background:rgba(241, 244, 222, 0.50);
  -webkit-box-shadow:0 0 4px rgba(0, 0, 0, 0.60) inset;
     -moz-box-shadow:0 0 4px rgba(0, 0, 0, 0.60) inset;
          box-shadow:0 0 4px rgba(0, 0, 0, 0.60) inset;
  border:0;
  font-size:1.6em;
  padding:7px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  color:#333;
  width:110px;
  
}
#header .buscador .submit {
  float:left;
  width:31px;
  height:34px;
  border:0;
  background:url(../images/btn-buscar.png);
  text-indent:-999px;
}





/* Common
--------------------------------------------------------------------- */


.content {
  position:relative;
  border-bottom:10px solid #2a2f2d;
  background:#fff;
}

.t {
  font:bold 2em/30px Arial, Helvetica, sans-serif;
  color:#fff;
}

.t span {
  background: url(../images/body-pattern.png);
  color:#fff;
}



/* Map */
#map {
  background:#fff;
  height:540px;
}

#map-layer {
  position:absolute;
  left:0;
  top:0;
  width:100%;
}
#map-layer #social {
  margin:35px 10px 0 auto;
  background:url(../images/bg-pasalo.png);
  width:63px;
  height:23px;
  padding:27px 10px 10px 2px;

}
#map-layer #social li {
  float:left; display:inline;
  margin-left:8px;
  
}



/*  home
--------------------------------------------------------------------- */
#home #map-layer #social {
  margin-top:18px;
}


#home-content {
  margin:20px auto 50px;
  width:560px;
}
#home-content .t {
  font:bold 3em/40px Arial, Helvetica, sans-serif;
  margin-bottom:30px;
}

#home-content .buscador {
  background:#ffce09 url(../images/bg-buscador.png) repeat-x;
  padding:20px;
}

#home-content .buscador h3 {
  font-size:1.8em;
  color:#333;
  margin-bottom:15px;
}

#home-content .buscador .text {
  background:#F1F4DE;
  background:rgba(241, 244, 222, 0.50);
  -webkit-box-shadow:0 0 4px rgba(0, 0, 0, 0.60) inset;
     -moz-box-shadow:0 0 4px rgba(0, 0, 0, 0.60) inset;
          box-shadow:0 0 4px rgba(0, 0, 0, 0.60) inset;
  border:0;
  font-size:1.6em;
  padding:10px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  color:#333;
  width:270px;
  margin-right:15px;
}

#home-content .buscador button {
  color:#333;
  font:bold 1.4em Arial, Helvetica, sans-serif;
  border:1px solid #acacac;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  height:40px;
  padding:0 14px;
  background: #FCFCFC; /* Old browsers */
  background: -moz-linear-gradient(top, #FCFCFC 0%, #CACACA 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FCFCFC), color-stop(100%,#CACACA)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #FCFCFC 0%,#CACACA 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #FCFCFC 0%,#CACACA 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #FCFCFC 0%,#CACACA 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FCFCFC', endColorstr='#CACACA',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #FCFCFC 0%,#CACACA 100%); /* W3C */
}

#legend {
  float:left;
  list-style:none;
  padding:15px 0;
}
#legend li {
  float:left;
  padding:0 10px 0 15px;
  background:url(../images/legend-separator.png) no-repeat 0 center;
  font-size:1.1em;
  text-transform:uppercase;
  color:#333;
}
#legend li.first {
  background:none;
}
#legend img {
  vertical-align:middle;
  margin-right:8px;
}


#estaciones {
  float:right;
  margin:25px 15px 0;
  width:250px;
}

/*  comparador
--------------------------------------------------------------------- */

#wadus-content {
  margin:20px auto 50px;
  width:560px;
}
#wadus-content .t {
  font:bold 3em/40px Arial, Helvetica, sans-serif;
  margin-bottom:30px;
}

/*  home
--------------------------------------------------------------------- */
.station-footer {
  overflow: hidden;
}

.station-footer ul.station_summary {
  overflow: hidden;
  width: 780px;
  float: left;
}

.station-footer ul.station_summary li {
  float: left;
  width: 160px;
  padding: 0 70px 0 10px;
  background: #FFFFFF url(../images/fabric.png) no-repeat 185px bottom;
  margin-right: 8px;    
  border-right-style: dotted; 
}

.station-footer ul.station_summary h3 {
  font-size: 18px;
  font-weight: bold;  
}

.station-footer ul.station_summary p.desc {
  font-size: 14px;
  padding: 10px 0;
}

.station-footer ul.station_summary p.value {
  background:#ffce09 url(../images/bg-buscador-top.png) repeat-x;  
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  color: #FFFFFF;
}

.station-footer ul.station_summary p.value span {
  color: #000000;
}

.station-footer div.do_something {
  width: 120px;
  float: left;
  padding-bottom: 85px;
  background: #FFFFFF url(../images/happy_family.png) no-repeat center bottom;  
}

.station-footer div.do_something h3 {
  text-align: center;
  color: #02B5CC;
  text-decoration: underline;
  font-size: 20px;
}

#wadus-content button {
  margin-top: 1em;
  color:#333;
  font:bold 1.4em Arial, Helvetica, sans-serif;
  border:1px solid #acacac;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  height:40px;
  padding:0 14px;
  background: #FCFCFC; /* Old browsers */
  background: -moz-linear-gradient(top, #FCFCFC 0%, #CACACA 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FCFCFC), color-stop(100%,#CACACA)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #FCFCFC 0%,#CACACA 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #FCFCFC 0%,#CACACA 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #FCFCFC 0%,#CACACA 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FCFCFC', endColorstr='#CACACA',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #FCFCFC 0%,#CACACA 100%); /* W3C */
}
