  <div id="wadus-content">
    <h2 class="t"><span>En los últimos años varias estaciones de Madrid han sido reubicadas en zonas menos contaminadas.</span></h2>
    <h3>No te dejes engañar</h3>
  </div>
  
<% content_for :outside_map do %>
  <h2>Estaciones abiertas recientemente:</h2>
  <% @new_stations.each do |new_station| -%>
    <%= render new_station, :css_class => 'new_station', :icon => 'unlocked' -%>
  <% end -%>

  <h2>Estaciones cerradas recientemente:</h2>
  <% @closed_stations.each do |closed_station| -%>
    <%= render closed_station -%>
  <% end -%>
  
  <ul id="legend">
    <li class="first"><%= image_tag 'ico-locked.png' %> Estaciones cerradas recientemente</li>
    <li><%= image_tag 'ico-unlocked.png' %> Nuevas ubicaciones</li>
  </ul>
<% end %>

<% content_for :js do -%>
  <script type="text/javascript">
    $(function(){
      $(document.createTextNode(', ')).appendTo('#wadus-content h3:last');
      $(document.createElement('a')).text('compruébalo tú mismo »').attr({href: '#'})
        .click(function() {
          $('#wadus-content').hide();
          return false;
        }).appendTo('#wadus-content h3:last');
      
      maloshumos.initialize();
    });
  </script>
<% end -%>
