<h2><%= @city.name -%></h2>

<ul>
<% @city.stations.each do |station| -%>
  <li><%= link_to station.name, url_for([@city, station]) -%>
  (<%= station.measurements.latest_for_parameter(12).first.reading rescue '-' %>)</li>
<% end -%>
</ul>

<% content_for :js do -%>
  <script type="text/javascript">
    function mapsLoaded() {
      console.log('a');
      var map = new google.maps.Map2(document.getElementById("map"));
      map.setCenter(new google.maps.LatLng(37.4419, -122.1419), 13);
    }
    google.load("maps", "2", {"callback" : mapsLoaded});
  </script>
<% end -%>

